<div class="row shadow p-3 mb-5 bg-body rounded">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <app-icon [iconName]="'bi-bullseye'" [fontSize]="'2rem'" ></app-icon>
            <span class="fs-4">Simple Header</span>
        </a>
        <ul class="nav nav-pills align-items-center">
            <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Section</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        </ul>
    </header>
</div>