<!-- <div class="container border"> -->
    <footer class="p-3">
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
              <a href="#" class="link-light"><app-icon [iconName]="'bi-whatsapp'"></app-icon></a>
          </li>
          <li class="ms-3">
              <a href="#" class="link-light"><app-icon [iconName]="'bi-facebook'"></app-icon></a>
          </li>
          <li class="ms-3">
              <a href="#" class="link-light"><app-icon [iconName]="'bi-instagram'"></app-icon></a>
          </li>
        </ul>
      </div>
    </footer>
  <!-- </div> -->